.button {
	font-family: "Averta Demo PE Cutted Demo Regular";
	font-size: inherit;
	padding: 1em 2em;
	color: $primary-bg-color;
	background-color: $additional-color;
	border-radius: 60px;
	letter-spacing: 0.065em;
	text-transform: capitalize;
	border: 3px solid transparent;
	white-space: nowrap;

	&:is(:hover, :focus) {
		background-color: #2e008b;
	}

	&:active {
		background-color: #160041;
	}
}

.button--transparent {
	color: $additional-color;
	background-color: transparent;
	border: 3px solid $additional-color;

	&:is(:hover, :focus) {
		background-color: $additional-color;
      color: #fff;
	}

	&:active {
		background-color: #2e008b;
      border: 3px solid #2e008b;
	}
}
