@mixin flexWrap($mainAxis: flex-start, $crossAxis) {
	display: flex;
	justify-content: $mainAxis;
	align-items: $crossAxis;
}

@mixin pseudo($display: block, $pos: absolute, $content: "") {
	content: $content;
	display: $display;
	position: $pos;
}
